@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-family: "Gnomon";
  src: url("../assets/fonts/Gnomon-Foreground.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Rakkas";
  src: url("../assets/fonts/Rakkas-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
:root {
  --color-font: #fff;
  --color-font-small: #C0C0C0;
  --color-font-secondary: #010504;
  --color-background: #010504;
  --color-extra: #f24934;
  --timeAnimation: 0.5s;
  --font-size_normal: 0.8em;
  --full-width: calc(100vw - 15px);
  --title-size-rakkas: 4vw;
  --title-size-gnomon: 5vw;
  --z-index-header: 10;
}

main {
  height: 100vh;
  width: var(--full-width);
  overflow: hidden;
  color: var(--color-font);
  height: 100%;
  margin-bottom: 5em;
  padding: 0 15em;
}
@media (max-width: 1400px) {
  main {
    padding: 2em 15em;
  }
}
@media (max-width: 1200px) {
  main {
    padding: 2em 10em;
  }
}
main .section-title {
  margin: 2em 0 4em 0;
}
main .section-title span {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}
main article {
  margin-bottom: 20em;
}
main article:last-child {
  margin-bottom: 10em;
}
main .loca {
  width: 200px;
  justify-self: center;
}
main .date {
  opacity: 50%;
}
main h2 strong {
  color: var(--color-extra);
}
main .title-article h1 {
  font-size: var(--title-size-rakkas);
  font-family: Rakkas, serif;
  font-weight: normal;
  line-height: 80%;
}
main .title-article h1 strong {
  font-weight: normal;
  line-height: 80%;
  font-family: Gnomon, sans-serif;
  font-size: var(--title-size-gnomon);
}
main .title-article h2 {
  font-size: 2vw;
  font-family: Gnomon;
  font-weight: normal;
}
main .title-article h2 strong {
  font-weight: normal;
  color: var(--color-extra);
}
main .separator {
  margin: 2em 0;
  width: 70%;
  height: 1px;
  background-color: var(--color-font);
}
main p {
  font-size: 1.2em;
  margin-bottom: 3em;
}
main .step {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 4em;
}
main .step div h1 {
  font-size: 2.5em;
}
main .step div ul {
  margin-left: 2em;
}
main .step div ul li {
  font-size: 1.2em;
}
main .step a {
  display: flex;
  align-items: center;
  font-size: small;
  letter-spacing: 0.1em;
  padding: 1em 1.8em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 300ms;
  font-weight: bold;
}
main .step a img {
  display: flex;
  filter: invert(100%);
  width: 20px;
  height: 20px;
  margin-left: 1em;
}
main .step a:hover {
  background: var(--color-font);
  color: var(--color-background);
}
main .step a:hover img {
  filter: invert(0%);
}
main .img-presentation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 1em;
}
main .img-presentation a {
  display: flex;
  overflow: hidden;
  background: #383838;
}
main .img-presentation a img {
  display: block;
  aspect-ratio: 1;
  object-position: top;
  transition: all 300ms;
}
main .img-presentation a:hover img {
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
