@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: "Gnomon";
    src: url("../assets/fonts/Gnomon-Foreground.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Rakkas";
    src: url("../assets/fonts/Rakkas-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

:root {
    --color-font : #fff;
    --color-font-small : #C0C0C0;
    --color-font-secondary : #010504;
    --color-background: #010504;
    --color-extra: #f24934;
    --timeAnimation : 0.5s;
    --font-size_normal: 0.8em;
    --full-width: calc(100vw - 15px);
    --title-size-rakkas: 4vw;
    --title-size-gnomon: 5vw;
    --z-index-header: 10;
}

@mixin cursor-style {
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    pointer-events: none;
    mix-blend-mode: difference;
}
@mixin section-style {
    height: 100vh;
    width: var(--full-width);
    overflow: hidden;
    //cursor: none;
    color: var(--color-font);
}
@mixin part-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--full-width);
    height: 120px;
    position: absolute;
    font-weight: bold;
}
@mixin header-content {
    display: flex;
    align-items: center;
    font-size: var(--font-size_normal);
}
@mixin load-style {
    position: absolute;
    height: 200vh;
    z-index: 100;
    transform: translate(-100%, 0);
    @keyframes end-of-load {
        0% { left: 0 }
        50% { width: 6vw }
        100% {
            left: 110%;
            width: 3vw;
        }
    }
}
@mixin header-responsive {
    @media (max-width: 1400px) {
        padding: 2em 10em;
    }
    @media (max-width: 1200px) {
        padding: 2em 2em;
    }
    @media (max-width: 900px) {
        #header-logo span {
            display: none;
        }
    }
}
@mixin main-responsive {
    @media (max-width: 1400px) {
        padding: 2em 15em;
    }
    @media (max-width: 1200px) {
        padding: 2em 10em;
    }
}

@mixin about-responsive {
    @media (max-width: 1400px) {
        padding: 0 15em;
    }
    @media (max-width: 1200px) {
        padding: 0 10em;
    }
    @media (max-width: 900px) {
        padding: 0 2em;
    }
}

@mixin footerContentPart {
    display: flex;
    font-size: 0.8vw;
}