@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: "Trap";
    src: url("../assets/fonts/Trap-Medium.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}


:root {
    --color-font : #fff;
    --color-font-small : #C0C0C0;
    --color-font-secondary : #1E1E1E;
    --color-background: #1E1E1E;
    --color-extra: #fa7970;
    --timeAnimation : 0.5s;
    --font-size_normal: 0.8em;

    --z-index-header: 10;
}

@mixin cursor-style {
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    pointer-events: none;
    mix-blend-mode: difference;
}
@mixin section-style {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    cursor: none;
    display: flex;
    color: var(--color-font);
}
@mixin part-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 120px;
    position: absolute;
    font-weight: bold;
}
@mixin header-content {
    display: flex;
    align-items: center;
    font-size: var(--font-size_normal);
}
@mixin load-style {
    position: absolute;
    height: 100vh;
    z-index: 100;
    transform: translate(-100%, 0);
    @keyframes end-of-load {
        0% { left: 0 }
        50% { width: 10vw }
        100% {
            left: 110%;
            width: 5vw;
        }
    }
}
@mixin responsive {
    @media (max-width: 1400px) {
        padding: 2em 10em;
    }
    @media (max-width: 1200px) {
        padding: 2em 2em;
    }
}
@mixin footerContentPart {
    display: flex;
    font-size: 0.8vw;
}