@import './base.css';

html {
	scroll-behavior: smooth;
}

h1, h2, span, p, a, button {
	animation: fade-in 0.5s ease;

}
@keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

a {
	text-decoration: none;
	transition:
		color 0.2s ease,
		background-color 0.2s ease,
		border 0.2s ease;
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	border-radius: 6px;
}

