@import '../global_styles/root';

footer.footer {
    @include section-style;
    background: var(--color-background);
    position: static;
    justify-content: center;
    height: 10vh;
    gap: 1em;
    font-size: 0.8vw;

    span {
        opacity: 0.3;
    }
}