@import '../global_styles/root';

// ================ ABOUT SECTION ================ //
.about-section {
	@include section-style;
	@include responsive;
	padding: 0 15em;
	flex-direction: column;
	position: relative;
	background-color: var(--color-background);
	color: var(--color-font);

	.section-title {
		margin: 3em 0;
	}

	.about-content {
		display: flex;
		gap: 5em;
		main {
			#presentation {
				h1 {
					font-size: 3vw;
					font-weight: 600;
					margin-bottom: 0.8em;
					color: var(--color-extra);
					font-family: "Trap", sans-serif;
				}
				
				p {
					font-size: 1.7vw;
					margin-bottom: 1em;
					font-family: Inter, sans-serif;
					line-height: 130%;
					width: 80%;
					font-weight: 200;
					strong {
						color: var(--color-extra);
					}
				}
			}
			.separator {
				width: 100%;
				height: 1px;
				background-color: rgba(255, 255, 255, 0.5);
				margin: 3vw 0;
			}
			
			.coord {
				h1 {
					font-size: 1.5vw;
					font-weight: 600;
					margin-bottom: 0.8em;
					font-family: "Trap", sans-serif;
				}
				.coord-content {
					display: flex;
					flex-wrap: wrap;
					gap: 3em;
					
					#coord-contentL, #coord-contentR {
						display: flex;
						flex-direction: column;
						div {
							display: flex;
							margin: 0.5em 0;
							font-family: "Inter";
							font-size: 1vw;
							font-weight: 300;
							img {
								width: 1.5em;
								height: 1.5em;
								margin-right: 0.5em;
								filter: invert(1) brightness(5);
							}
						}
					}
				}
			}
		}
		
		aside {
			display: flex;
			img {
				display: block;
				width: 20vw;
				height: 20vw;
			}
		}
	}
}